<!DOCTYPE html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1 class="header-class">{{ header }}</h1>
    </header>
    <main>
        <p class="content-class">{{ content }}</p>
    </main>
    <footer>
        <p class="footer-class">{{ footer }}</p>
    </footer>