<!DOCTYPE html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <header>
        <h1 class="header-dice-button-class">{{ header }}</h1>
    </header>
    <sub>
        <p id="dice-count" class="dice-count-class">Money: $<span id="dice-count-span">{{ money }}</span></p>
    </sub>
    <main>
        <button id="main-click-dice-button" class="main-click-dice-button"></button>
    </main>
</body>
    <main>
        <button id="39th_street_button" class="thirty-ninth-street-button-class"></button>
    </main>
<footer>
    <p class="footer-class">{{ footer }}</p>
</footer>