body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(175, 175, 175);
}

.header-dice-button-class {
    background-color: rgb(175, 175, 175);
    padding: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.main-click-dice-button {
    width:200px;
    height:200px;
    background-image: url("/static/images/Dice_Image_KC_Clicker.png");
    background-size: cover;
    border:black solid 2px;
    cursor: pointer;
}

.dice-count-class {
    font-size: 18px;
    margin-top: 20px;
    color: black;
}

.thirty-ninth-street-button-class {
    width:150px;
    height:195px;
    background-image: url("/static/images/39TH_Street.png");
    background-size: cover;
    border:none;
    cursor: pointer;
}

.footer-class {
    background-color: rgb(175, 175, 175);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: grey
}